body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-container {
    flex: 1;
    background-image: url(https://wallpaperaccess.com/full/1153698.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    overflow-y: hidden;
    padding: 20px;
}

@media only screen and (max-width: 767px) {
    .content-container {
        backdrop-filter: blur(3px);
    }
}