/* Home.module.css */

.dialogPaper {
    animation: fadeInSlideUp 2s ease-out;
}

.dialogBackdrop {
    position: relative;
    max-width: 400px;
    background: none;
    margin-left: 900px;
}

.dialogContent {
    max-height: 70vh;
    overflow: auto;
}




.dialogContent p,
.dialogContent h1,
.dialogContent h2,
.dialogContent h3,
.dialogContent h4,
.dialogContent h5,
.dialogContent h6 {
    animation: fadeInText 2s ease-out;
}


.textBlock {
    width: 100%;
    max-width: 600px;
    text-align: left;
}

.list {
    list-style: none;
    padding: 0;
}

.listItem {
    margin-bottom: 10px;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #000080;
}

.videoWrapper {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}



/*Animation for the dialog*/

@keyframes fadeInSlideUp {
    0% {
        transform: translateY(20px);

    }

    100% {
        transform: translateY(0);

    }
}

@keyframes fadeInText {
    0% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}



/*Media queries*/


@media (min-width: 756px) {
    .dialogPaper {
        width: 100%;
        margin-left: 250px;
        margin-right: 50px;
    }
}

/* Simplified styles for mobile devices */
@media (max-width: 768px) {
    .dialogPaper {
        width: 100vw;
        margin: 0;

    }
}