.formInputContainer {
    position: relative;
    margin-bottom: 1.5rem;
}


.iconContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
}


.passwordToggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    color: #666;
}

.passwordToggle:hover {
    color: #333;
}

.validationIcon {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}
