/* sharedStyles.css */
.input-container {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
}

.input-field {
    padding-left: 50px;
}

.input-error {
    border-color: red;
}

.icon-error {
    color: red;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}

.icon-success {
    color: green;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}